@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

* {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(pen.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: xx-large;
}

nav .fas {
  display: none;
}

nav {
  display: flex;
  padding: 2px 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

h1 {
  color: white;
}

nav img {
  width: 80px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links .unorder-list li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
}

li:hover::after {
  width: 100%;
  transition: 0.5s;
}

.pen {
  width: 100vw;
  height: 90vh;
}

.text h1 {
  font-size: 62px;
}

.text p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.text {
  width: 90%;
  color: white;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* media quaries
 */
@media screen and (max-width: 700px) {
  .text h1 {
    font-size: 20px;
  }
  .text2 h1 {
    font-size: 20px;
  }
  .nav-links .unorder-list li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fas {
    display: block;
    color: white;
    margin: 5px 8px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

/* Computer  */
.com_chapter {
  color: black;
  text-align: center;
  padding-top: 4vh;
  padding-left: 37vw;
}

.computer {
  display: flex;
}

.content {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  margin: 0 1vw 0 1vw;
  width: 40vw;
}

.lesson_name {
  background-color: purple;
  padding-top: 1vh;
  text-align: center;
  height: 4vh;
  font-size: 25px;
  color: aqua;
}

.chap {
  margin: 10px 0 0 7px;
  font-size: 20px;
  cursor: pointer;
}

.chap::after {
  content: "";
  width: 0%;
  height: 2px;
  background: brown;
  display: block;
  margin: auto;
}

.chap:hover::after {
  width: 100%;
  transition: 0.5s;
}

.com_sub {
  margin-right: 1vw;
  width: 70vw;
}

.com_qsn {
  color: red;
  text-align: justify;
  padding: 0 5vw 0 5vw;
  margin: 4vh 0 0 0;
  font-size: 20px;
}

.com_ans {
  padding: 0 5vw 0 0;
  text-align: justify;
  font-size: 3vh;
  border-collapse: collapse;
  margin-left: 5vw;
  font-size: 20px;
}

.network_mdl{
  margin-top: 2vh;
  margin-left: 14vw;
  width: 35vw;
  height: 50vh;
}

/* Media quaries for computer */
@media screen and (max-width: 700px) {
  .computer {
    display: inline;
  }

  .com_qsn {
    font-size: 15px;
    text-align: justify;
    margin: 3vh 5vw 0 5vw;
    padding-left: 0vw;
  }

  .com_ans {
    font-size: 15px;
    padding: 0;
    margin: 0 5vw 0 5vw;
  }

  .com_sub {
    width: 100vw;
  }

  .com_chapter {
    font-size: 15px;
    text-align: center;
    padding: 3vh 0 2vh 0;
  }

  .content {
    width: 98vw;
  }

  .lesson_name {
    font-size: 15px;
  }

  .chap {
    font-size: 15px;
  }

  .network_mdl{
    margin-top: 2vh;
    margin-left: 17vw;
    width: 69vw;
    height: 50vh;
  }
}

/* Footer  */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h3 {
  margin-bottom: 25px;
  margin-top: 20px;
  font: 600;
}

.icons .fab {
  color: red;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart {
  color: red;
}
