@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

* {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(pen.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav .fas {
  display: none;
}

nav {
  display: flex;
  padding: 2px 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

h1 {
  color: white;
}

nav img {
  width: 80px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

/* li {
  display: inline-block;
  margin: 30px 10px;
  padding: 0px 10px;
} */

li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
}

li:hover::after {
  width: 100%;
  transition: 0.5s;
}

.pen {
  width: 100vw;
  height: 90vh;
}

.text h2 {
  font-size: 62px;
}

.text p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.text {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 700px) {
  .text h2 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fas {
    display: block;
    color: white;
    margin: 5px 8px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
/*----- footer -----*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h3 {
  margin-bottom: 25px;
  margin-top: 20px;
  font: 600;
}

.icons .fab {
  color: red;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart {
  color: red;
}

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(pen.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: xx-large;
}
/* ------- Contact us-------- */

.sub-header h1 {
  margin-bottom: 350px;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 80px;
}

.contact-col div .far {
  font-size: 28px;
  color: red;
  margin: 10px 10px 10px 350px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  .text h1 {
    font-size: 20px;
  }
  .contact-col div .far {
    margin: 20px;
  }
}

/*----- Python -----*/
.python {
  background-color: black;
}

.pattern {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h5 {
  font-size: 30px;
  color: red;
  margin: 20px 0px 0px 40px;
  padding: 20px 10px 0px 120px;
}

.container {
  font-size: 20px;
  padding: 20px 30px;
  margin: 20px 0px 80px 0px;
  border-color: green;
  border-style: none none none solid;
  border-width: 7px;
  background-color: blanchedalmond;
  width: 300px;
  line-height: 1.9;
}

.container2 {
  width: 400px;
  height: 400px;
  margin: 0px 0px 0px 0px;
}

.circle {
  width: 32vw;
  height: 52vh;
}

h6 {
  font-size: larger;
  color: green;
}

.intro {
  margin: 30px;
}

.heading {
  font-size: 40px;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.paragraph {
  font-size: 20px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 700px) {
  .h5 {
    font-size: 20px;
    padding-left: 15px;
  }
  .container {
    margin-left: 0px;
    width: 200px;
    padding-left: 0px;
    /* height: 70vh; */
  }
  .container pre {
    font-size: medium;
  }
  .h6 {
    font-size: 15px;
    text-align: center;
  }
  .circle {
    height: 300px;
    width: 250px;
  }
  .heading {
    font-size: 20px;
  }
  .paragraph {
    font-size: 15px;
  }
}

/* -----Books------ */
.book {
  display: grid;
  background-image: linear-gradient(#cc2b5e, #753a88);
  grid-gap: 4px 75px;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: 65vh 65vh 65vh;
  margin: 70px 0px 0px 0px;
}

.item {
  margin: 30px 0px 30px 50px;
  background-image: linear-gradient(#cc2b5e, #753a88);

}

.subjects {
  width: 18vw;
  height: 45vh;
  margin: 40px 0 0 11vw;
}

.subj {
  text-align: center;
  font-size: 2vw;
  color: pink;
  text-decoration: underline;
  text-transform: uppercase;
}

.heading2 {
  font-size: 40px;
  text-align: center;
  color: black;
  padding-top: 3vh;
}

.paragraph2 {
  font-size: 20px;
  text-align: center;
  color: black;
}

@media screen and (max-width: 700px) {
  .book {
    grid-gap: 4px 30px;
    grid-template-columns: 44vw 44vw;
    grid-template-rows: 50vh 50vh 50vh;
  }

  .item{
    height: 34vh;
  }

  .subj{
    margin: 10px 0 0 0;
  }

  .subjects {
    align-items: center;
    margin: 7vw 0 0 8vw;
    width: 20vw;
    height: auto;
  }

  .heading2 {
    font-size: 20px;
  }

  .paragraph2 {
    font-size: 15px;
  }
}

/* ------- Economics ------- */
.economics{
background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

.chapter{
  color: greenyellow;
  text-align: center;
  padding-top: 4vh;
}

.q1{
  color: #080808;
  text-align:left;
  padding: 0 0 0 5vw;
  margin: 4vh 0 0 0;
  
}

.ans1{
  padding: 0 5vw 0 5vw;
  text-align: justify;
  font-size: 3vh;
}

#clockButton{
  border-radius: 7px;
  border: 2px solid green;
  font-size: larger;
  color: blue;
}

#myDIV{
  display: none;
}

@media screen and (max-width: 700px) {
  .q1{
    font-size: 20px;
  }

  .ans1{
    font-size: 20px;
  }
}
